form {
  width: 50%;
  display: flex;
  margin: 0 auto;
}
div,
input {
  display: block;
  width: 100%;
}

.signupForm {
  margin-top: 30px;
}
.signinForm {
  margin-top: 30px;
}

.authButton {
  text-align: right;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: 'white';
}
